@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.lista-pessoas {
    width: 70%;
    margin: 30px auto;
    border-collapse: collapse;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}
tr:nth-child(odd){
    background-color: #FAFAFA;
}

.lista-pessoas th,
.lista-pessoas td {
    padding: 1em 0.7em;
    text-align: center;
}

td.lista-pessoas__content-btn {
    display: flex;
    justify-content: space-evenly;
}

.lista-pessoas__btn-editPessoa,
.lista-pessoas__btn-removerPessoa {
    width: 20px;
    height: 20px;
}

.btn-addPessoa {
    display: block;
    margin: auto;
}

/* MODAIS */
.modal {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
}

.form-addPessoa,
.form-editPessoa,
.modal-removerPessoa__section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FAFAFA;
    padding: 2em;
    width: 400px;
}

.modal__mensagem {
    margin-bottom: 1em;
    text-align: center;
}

.form__content-flutuante {
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.form__content-flutuante label,
.form__content-flutuante label {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all 300ms ease-out;
}

.input-modal{
    width: 100%;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #000;
    background-color: transparent;
    outline: 0;
    transition: all 300ms ease-out;
}

.input-modal:focus {

    border-color: rgb(98, 79, 79)
}

.input-modal:focus + label,
.input-preenchido {
    font-size: 13px;
    margin-top: 0;
}

.form-addPessoa__label-data,
.form-editPessoa__label-data {
    display: block;
    margin-bottom: 0.5em;
}