@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* LISTA DE PESSOAS */
.contein__lista-pessoas {
    width: min(70%, 800px);
    min-width: 300px;
    margin: 30px auto;
}

.lista-pessoas {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
}

tr:nth-child(even){
    background-color: #f2f2f2;
}
tr:nth-child(odd){
    background-color: #FAFAFA;
}

.lista-pessoas th,
.lista-pessoas td {
    padding: 1em 0.7em;
    text-align: center;
    position: relative;
}

td.lista-pessoas__content-btn {
    display: flex;
    justify-content: space-evenly;
}

/* MODAIS */
.modal {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
}

.form-addPessoa,
.form-editPessoa,
.modal-removerPessoa__section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FAFAFA;
    padding: 2em;
    width: min(400px, 80%);
    min-width: 312px;
}

.modal__mensagem {
    margin-bottom: 1em;
    text-align: center;
}

.form__content-flutuante {
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 8%;
}

.form__content-flutuante label,
.form__content-flutuante label {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all 200ms ease-out;
}

.input-modal{
    width: 100%;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #000;
    background-color: transparent;
    outline: 0;
    transition: all 200ms ease-out;
    padding: 4px 1px 7px;
    font-size: 1em;
}

.input-modal:focus {

    border-color: rgb(98, 79, 79)
}

.input-modal:focus + label,
.input-modal:not(:placeholder-shown) + label {
    font-size: 13px;
    margin-top: 0;
}

.form-addPessoa__label-data,
.form-editPessoa__label-data {
    display: block;
    margin-bottom: 0.7em;
}

#form-editPessoa__input-data,
#form-addPessoa__input-data {
    padding: 5px 1px;
    font-size: 0.9em;
    border: 0;
    border-bottom: 2px solid #000;
    background-color: transparent;
    outline: 0;
}

.modal_content-btn {
    margin-top: 3em;
}

.form-addPessoa__msg-erro {
    display: block;
    visibility: hidden;
}

div.modal-removerPessoa__content {
    display: flex;
    justify-content: center;
}

/* BOTÕES */
.modal-removerPessoa__btn-remover,
.form-editPessoa__btn-edit,
.form-addPessoa__btn-add {
    padding: 0.7em 1em 0.5em;
    border-radius: 20px;
    width: 115px;
}

.btn-addPessoa {
    display: block;
    margin: auto;
    width: 10em;
    padding: 0.5em 0.5em 0.7em;
    font-size: 1em;
    border-radius: 20px;
}

.btn-icone {
    vertical-align: middle;
}

.btn-addPessoa .btn-icone {
    vertical-align: sub;
}

.botoes-cancelar {
    background-color: transparent;
    margin-left: 13px;
    padding: 0.7em 1em 0.5em 0.8em;
    width: 115px;
    border-radius: 20px;
}

.lista-pessoas__btn-editPessoa {
    width: 26px;
    height: 26px;
    border-radius: 5px;
    background-image: url('../assets/iconedit.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
}

.lista-pessoas__btn-removerPessoa {
    width: 26px;
    height: 26px;
    border-radius: 5px;
    background-image: url('../assets/icondelete.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    margin-left: 3px;
}


@media (max-width: 755px){

    .contein__lista-pessoas {
        width: 83%;
    }
}

@media (max-width: 570px){

    .contein__lista-pessoas {
        max-width: 400px;
    }

    .lista-pessoas {
        border: none;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    }

    .lista-pessoas  td {
        display: block;
        text-align: right;
        padding: 1.5em 2%;
    }

    .lista-pessoas td.lista-pessoas__content-btn {
        text-align: center;
    }

    .lista-pessoas  td:before {
        content: attr(data-titulo);
        position: absolute;
        left: 2%;
        display: block;
        font-weight: bold;
    }

    .lista-pessoas thead {
        display: none;
    }

    .lista-pessoas__body tr {
        display: block;
    }

    .lista-pessoas__btn-removerPessoa {
        margin-left: 50px;
        width: 36px;
        height: 36px;
    }

    .lista-pessoas__btn-editPessoa {
        width: 36px;
        height: 36px;
    }
}