@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.modal-addPessoa {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
}

.form-addPessoa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lista-pessoas {
    border-collapse: collapse;
}

.lista-pessoas__btn-editPessoa,
.lista-pessoas__btn-removerPessoa {
    width: 20px;
    height: 18px;
}